.outer_{
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 25vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin: 15px -2px 15px -2px;
    /* -webkit-box-shadow: inset 0px 5px 33px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 5px 33px -14px rgba(0,0,0,0.75);
    box-shadow: inset 0px 5px 33px -14px rgba(0,0,0,0.75); */
}

.outer_ .left img{
    width: 20%;
}
.container_{
    padding: 0;
    margin: 0;
}