.header_{
    padding: 20px 20px ;
    background-color: #32398B;
}

h2{
    color: white;
    font-family: 'PT Serif', serif;
}
h4{
    color: #32398B;
    font-size: 30px;
}
.text_style{
    font-size: 18px;
    color: #32398B;
}
.img_logo{
    width: 30%;
    height: auto;
    padding-bottom: 30px;
    margin-top: 30px;
}

.input_form {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp-form{
   padding: 50px;
   border: 0.5px solid #32398B;
   border-radius: 25px;
}
.inp-form:hover{
    -webkit-box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.36);
}

.form-btn{
    margin-top: 30px;
}